<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="cal_style.css">
</head>

<body>
    <div class="allContainer flex">
        <div class="leftSide">
            <div class="imgContainer flex">
                <img src="logo.png" alt="Logo">
            </div>

            <form class="form_agenda" action="#" method="post">
                <div class="inputs_container">
                    <div class="input_left">
                        <label for="date">Date début</label>
                        <input type="date" name="date" id="date">
                    </div>
                    <div class="input_right">
                        <label for="time">Heure début</label>
                        <input type="time" name="time" id="time">
                    </div>
                </div>
                <div class="inputs_container">
                    <div class="input_left">
                        <label for="date">Date fin</label>
                        <input type="date" name="date" id="date">
                    </div>
                    <div class="input_right">
                        <label for="time">Heure fin</label>
                        <input type="time" name="time" id="time">
                    </div>
                </div>
                <select name="typeEv" id="typeEv">
                    <option value="">Selectionnez lee type d'événement</option>
                    <option value="">Réligion</option>
                    <option value="">Famille</option>
                    <option value="">Etude</option>
                    <option value="">Travail</option>
                </select>
                <label for="libelle">Libellé</label>
                <input type="text" name="libelle" id="libelle" placeholder="Le libellé de l'événement">
                <label for="time">Que voulez-vous noter ?</label>
                <textarea name="contenu" placeholder="Mettez ici le contenu" id="contenu" cols="30" rows="6"></textarea>
                <label for="participants">Participants</label>
                <input type="text" name="participants" id="participants" placeholder="Mettez les participants séparés par vigule">
                <button type="submit">Ajouter événement</button>
            </form>

        </div>
        <div class="middleSide">
            <h2>
                Événements par type
            </h2><br>
            <div class="filter_container">
                <button id="parReligion" class="filer active" onclick="switchActiveEvents(this.id)">Religion</button>
                <button id="parEtude" class="filer" onclick="switchActiveEvents(this.id)">Etude</button>
                <button id="parTravail" class="filer" onclick="switchActiveEvents(this.id)">Travail</button>
                <button id="parAutre" class="filer" onclick="switchActiveEvents(this.id)">Autre</button>
            </div>
            <div id="id_parReligion" class="eventsToCome">
                <div class="event2 flex">
                    <p class="date">
                        1/3/2022</p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="0" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="3" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="4" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event2 flex">
                    <p class="date">
                        1/3/2022</p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="5" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="6" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="7" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="id_parEtude" class="eventsToCome d_none">
                <div class="event2 flex">
                    <p class="date">
                        Semaine N
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event2 flex">
                    <p class="date">
                        Semaine N
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event2 flex">
                    <p class="date">
                        Semaine N
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span>
                                <span>Le libellé par ici</span>
                                <br><span class="date_gris">12/08/22 20h34</span> à <span class="date_gris">12/08/22 22h14</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="id_parTravail" class="eventsToCome d_none">
                <div class="event2 flex">
                    <p class="date">
                        Le mois ici
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Mardi 20 : <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Mardi 20 : <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Mardi 20 : <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event2 flex">
                    <p class="date">
                        Le mois ici
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Lunid 21: <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Lunid 21: <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event2 flex">
                    <p class="date">
                        Le mois ici
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Lunid 21: <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Lunid 21: <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="id_parAutre" class="eventsToCome d_none">
                <div class="event2 flex">
                    <p class="date">
                        Le mois ici
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Mardi 20 : <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Mardi 20 : <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Mardi 20 : <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event2 flex">
                    <p class="date">
                        Le mois ici
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Lunid 21: <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Lunid 21: <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event2 flex">
                    <p class="date">
                        Le mois ici
                    </p>
                    <div class="allEnventContainer">
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Lunid 21: <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                        <div class="eventContainer">
                            <div class="time">
                                <span class="typeEvent">Type Ev.</span> Lunid 21: <span>Le libellé par ici</span>
                            </div>
                            <div id="1" class="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquam aperiam illo laudantium.
                            </div>
                            <img src="./trash.png" alt="" srcset="">
                            <div class="participants_contanier">
                                <p class="participant">Modou Peinda</p>
                                <p class="participant">Benito Fall</p>
                                <p class="participant">Piscon Diémé</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightSide">
            <div class="calender_container">
                <!-- Calendrier -->
                <div class="calendar"></div>
                <div class="clock">
                    <div class="outer-clock-face">
                        <div class="marking marking-one"></div>
                        <div class="marking marking-two"></div>
                        <div class="marking marking-three"></div>
                        <div class="marking marking-four"></div>
                        <div class="inner-clock-face">
                            <div class="hand hour-hand"></div>
                            <div class="hand min-hand"></div>
                            <div class="hand second-hand"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>

    </div>
</body>
<script src="./script.js"></script>

</html>